{% extends 'base.html.twig' %}
{% block body %}
    <section class="section">
        <div class="container">
            <p class="preview">немного о нас</p>
            <div class="about">
                <div class="about__left">
                    <h3 class="title title-top">
                        Предоставляем место нуждающимся животным
                    </h3>
                    <div class="description">
                        <p class="description__text">
                            Предварительные выводы неутешительны: глубокий уровень погружения обеспечивает широкому кругу (специалистов) участие в формировании существующих финансовых и административных условий. Картельные сговоры не допускают ситуации, при которой действия представителей оппозиции призывают нас к новым свершениям, которые, в свою очередь, должны быть ассоциативно распределены по отраслям. Приятно, граждане, наблюдать, как многие известные личности и по сей день остаются уделом либералов, которые жаждут быть призваны к ответу.
                        </p>
                        <p class="description__text">
                            Как уже неоднократно упомянуто, диаграммы связей будут своевременно верифицированы. Но базовый вектор развития обеспечивает широкому кругу (специалистов) участие в формировании анализа существующих паттернов поведения.
                        </p>
                        <p class="description__text">
                            В рамках спецификации современных стандартов, тщательные исследования конкурентов могут быть указаны как претенденты на роль ключевых факторов. Банальные, но неопровержимые выводы, а также реплицированные с зарубежных источников, современные исследования в равной степени предоставлены сами себе. Внезапно, сторонники тоталитаризма в науке формируют глобальную экономическую сеть и при этом — рассмотрены исключительно в разрезе маркетинговых и финансовых предпосылок. А ещё диаграммы связей являются только методом политического участия и представлены в исключительно положительном свете.
                        </p>
                    </div>
                    <a class="btn" href="#">Читать больше</a>
                </div>
                <div class="about__right">
                    <img class="about__right-image" src="{{ asset('build/images/about.png') }}" alt="about">
                </div>
            </div>
        </div>
    </section>
    <section class="section bg-beige">
        <div class="container">
            <p class="preview">для кого мы ищем дом</p>
            <h3 class="title title-top">
                Наши четвероногие друзья
            </h3>
            <div class="description">
                <p class="description__text">
                    Наш каталог и бла бла бла, заберите себе кого-нибудь домой
                </p>
                <p class="description__text">
                    Наш каталог и бла бла бла, заберите себе кого-нибудь домой
                </p>
            </div>
            <div class="categories">
                <div class="categories__items">
                    {% for category in categories %}
                        <a href="{{ path('animals_category_paginated', {slug: category.slug}) }}" class="categories__item">
                            <img class="categories__item-img" src="{{ asset('build/images/categories/' ~ category.image) }}" alt="{{ category.title }}">
                            <div class="categories__item-info">
                                <p class="categories__item-title">{{ category.name }}</p>
                                <p class="categories__item-description">{{ category.description }}</p>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}