{% extends 'base.html.twig' %}
{% block title %}Home{% endblock %}
{% block body %}
    <section class="section bg-beige">
        <div class="container">
            <p class="preview">для кого мы ищем дом</p>
            <h3 class="title title-top">
                Наши четвероногие друзья
            </h3>
            <div class="description">
                <p class="description__text">
                    Наш каталог и бла бла бла, заберите себе кого-нибудь домой
                </p>
                <p class="description__text">
                    Наш каталог и бла бла бла, заберите себе кого-нибудь домой
                </p>
            </div>
            <div class="categories">
                <div class="categories__items">
                    {% for category in categories %}
                        <a href="{{ path('animals_category_paginated', {slug: category.slug}) }}" class="categories__item">
                            <img class="categories__item-img" src="{{ asset('build/images/categories/' ~ category.image) }}" alt="{{ category.title }}">
                            <div class="categories__item-info">
                                <p class="categories__item-title">{{ category.name }}</p>
                                <p class="categories__item-description">{{ category.description }}</p>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}